body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #588c7e;
}

.main {
  padding: 2em;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  color: #f2e294d1;
  border-color: #7a3b2e;
}

h2 {
  font-size: 1.5em;
  color: #5d2b0056;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #588c7e;
  margin: auto;
  padding-top: 2cm;
}

.title {
  text-shadow: 2px 2px 4px hsl(0, 4%, 81%);
  background-color: #e0876a;
}

.title-container {
  width: 70%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  gap: 4em;
  background-color: #f2e394;
}

.scoretitle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.score-container {
  width: 50%;
  align-items: flex-start;
  padding-left: 5%;
}

input,
button {
  margin: 0.5em;
}

input {
  border: 2px solid #000;
  padding: 0.5em 1em;
}

ul {
  list-style: none;
  border: 2px solid #000;
  padding: 0;
  margin: 0;
}

.scores-list :nth-child(even) {
  background-color: #ddd;
}

li {
  width: calc(100% - 0.4em);
  padding: 0.2em;
  margin: 0;
  background-color: #fff;
}

button {
  background-color: #7a3b2e;
  padding: 8px 20px;
  border: 1px solid #fff;
  color: rgb(235, 243, 245);
  border-radius: 18px;
  font-size: medium;
}

.form-container {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2e394;
}

.player-name,
.player-score {
  width: 82%;
  border-radius: 8rem;
}

button:hover {
  cursor: pointer;
  background-color: #dc0e4885;
}

.refresh-button:hover {
  color: rgb(27, 7, 7);
}

.submit-button:hover {
  color: rgb(248, 248, 248);
}

#submit_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .player-name,
  .player-score, {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .content {
    width: 70%;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
